[Unit]
Description=Run CAN Tester app
After=graphical.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash -c '/opt/CANTester/scripts/can-tester-start.sh'

[Install]
WantedBy=graphical.target